# Text files
*.cs      text eol=crlf
*.csproj  text eol=crlf
*.sln     text eol=crlf
*.xml     text eol=crlf
*.json    text eol=crlf
*.md      text eol=crlf
*.txt     text eol=crlf
*.cfg     text eol=crlf

# Scripts
*.sh      text eol=lf
*.ps1     text eol=crlf
*.bat     text eol=crlf

# Binary assets
*.dll     binary
*.pdb     binary
*.png     binary
*.jpg     binary
*.jpeg    binary
*.bmp     binary
*.dds     binary
*.psd     binary
*.ogg     binary
*.wav     binary
*.mp3     binary
*.zip     binary
